EXPO_PUBLIC_API_URL=https://pet-joyful-backend.onrender.com
EXPO_PUBLIC_EVENTS_API_URL=https://pet-joyful-events-service.onrender.com
EXPO_PUBLIC_PROFILE_API_URL=https://edicao-perfil-microservice.onrender.com
